.underConstruction {
	text-align: center;
}

.moji {
	width: 40px;
	margin-top: 4%;
	margin-bottom: 20%;
	height: auto;
}

.body_text {
	font-family: "Helvetica Neue";
	font-size: 20px;
}

.connect_text {
	font-family: "Helvetica Neue";
	font-size: 14px;
}

.footer_style {
	font-family: "Helvetica Neue";
	font-size: 8pt;

	margin-top: 4%;

	margin-bottom: -8px;

	text-align: center;

	display: block;
}

.footer_logo {
	width: 20px;
	height: auto;

	vertical-align: middle;
	margin-right: 5px;
}