@import url('https://fonts.googleapis.com/css?family=Roboto: 100, 200, 400, 700, 800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono: 300, 400, 700');


#logo {
	width: 150px;
	height: auto;

	margin-top: 4%;
	/*margin-left: -18%;*/
}

.nav_style {

	/*margin-top: 5px;*/

	font-family: "Roboto" !important;
	font-size: 14pt !important;

	padding-top: 5%;

	color: #99a3b2;
}

.nav_style_selected {

	/*margin-top: 5px;*/

	font-family: "Roboto" !important;
	font-size: 14pt !important;

	padding-top: 5%;

	color: #000000 !important;
}

/*nav {
	top:0px;
}*/

header a:hover{
/*	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #FF2751;*/
	color: #FF2751 !important;

}

/*.nav_class {
	padding-top: 3%;
	width:100%;
}*/

/* MARCY HELD - INTERACTION DESIGNER */

.index_heading {
	font-family: "Roboto" !important;

	font-size: 55px;
	font-weight: bold;

	padding-top: 10%;

	text-align: center;
}

.index_headingB {
	font-family: "Roboto" !important;

	font-size: 20px;
	font-weight: bold;

	margin-top: -4%;

	text-align: center;
}

.index_headingC {
	font-family: "Roboto" !important;

	font-size: 18px;
	font-weight: 300;

	margin-top: 2%;
	margin-bottom: 6%;
}

/* PORTFOLIO IMAGES + LINKS */

/*.portfolio_heading {
	margin-top: 30%;

	padding-left: 32%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-left: -50px;
	background-color: #E5B95C;

	font-family: "Lato" !important;
	font-size: 35px;
	letter-spacing: .05em;
	font-weight: 700;
	
	text-align: center;

}*/

/*#portfolio {
    border-top: 70px solid transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}*/

/*#about {
    border-top: 70px solid transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}*/


.index_proj {
	width: 65%;

	/*margin-top: 5%;*/

	padding-bottom: 4%;

	transition: .5s ease;
	backface-visibility: hidden;
}

.image_container:hover .index_proj {
  opacity: 0.5;
}

.proj_heading {
	font-family: "Roboto Mono" !important;

	font-size: 14px !important;

	color: black;

	margin-top: 15%;
}

.proj_subheading {
	font-family: "Roboto" !important;

	font-size: 12px !important;
	font-style: italic;

	color: black;

	margin-top: -2%;
	margin-bottom: 1%;
}

.proj_headingB {
	font-family: "Roboto Mono" !important;

	font-size: 14px !important;

	color: black;

	margin-top: 15%;
}

.proj_subheadingB {
	font-family: "Roboto" !important;

	font-size: 12px !important;
	font-style: italic;

	color: black;

	margin-top: -2%;
	margin-bottom: 1%;
}

/* HOMEPAGE ABOUT + SKILLS */

/*.about_container {
	
	margin-top: 6%;

}

.about_heading {
	margin-top: 10%;

	padding-left: 55%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-left: -50px;
	background-color: #E5B95C;

	font-family: "Lato" !important;
	font-size: 35px;
	letter-spacing: .05em;
	font-weight: 700;
	
	text-align: center;
}

.about_img {

	width: 50%;
	margin-left: 10%;
	
}*/

/*.bio_textA {

	font-family: "Lato";
	font-size: 16px;

	padding-top: 5%;
}

.bio_textB {

	font-family: "Lato";
	font-size: 16px;

}*/

.bio_currentlyHeader {
	margin-top: 2%;
	font-family: "Lato";
	font-size: 28px;
	/*font-style: italic;
	font-weight: bold;*/
	margin-bottom: -2%;

}

.bio_text_currentImg {
	width: 65%;
}

.bio_text_currentList {
	font-family: "Lato";
	font-size: 16px;
	padding-top: 4%;

}

.skills_container {
	margin-top: 2%;
}

.skills_heading {
	margin-top: 5%;
	font-family: "Lato";
	font-size: 28px;

	border-bottom: solid;
}

.skills_col_label {
	font-family: "Lato";
	font-size: 20px;
	font-weight: bold;

	text-decoration: underline;

	margin-top: 20px;
	margin-bottom: -1%;

}

.skills_first_item {
	font-family: "Lato";
	font-size: 14px;

	margin-top: 1%;
	margin-bottom: -1%;

}

.skills_item {

	font-family: "Lato";
	font-size: 14px;

	margin-bottom: -1%;

}

.skills_logo {
	width: 50px;
}

.software_logo_spacing {
	padding-top: 2%;
}


/* FOOTER STYLING */

.footer_text {
	/*margin-top: 5%;*/
	padding-top: 2%;

	/*background-color: #bababa;*/
	padding-bottom: 1%;

	font-family: "Roboto Mono";
	font-size: 14px;

	letter-spacing: .2em;
}

.footer_icons {
	margin-top: 7%;

	padding-left: 30%;
	padding-right: 30%;

	/*background-color: #bababa;*/

}

.footer_logo {
	width: 30px;
	height: auto;

	vertical-align: middle;
	margin-right: 5px;
}

.footer_content a:hover {
	text-decoration: none;
}

.summary_heading {
	padding-top: 3%;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;

	text-align: center;

}

.summary_text {
	font-family: "Roboto";
	font-size: 14px;

	/*margin-top: 0%;*/
	margin-top: -3%;

	font-weight: 100;

	text-align: center;

}

.indiv_proj_heading {
	font-family: "Roboto";
	font-size: 60px;

	font-weight: bold;

	margin-top: 20%;
}

.indiv_proj_subheading {
	font-family: "Roboto";
	font-size: 20px;

	margin-top: 1%;
	margin-bottom: 15%;
}

.indiv_proj_desc {
	font-family: "Roboto";
	font-weight: 100;
	font-size: 14px;
	margin-top: 2%;

	/*padding-left: 6%;*/
}

.indiv_proj_sectionheading {
	font-family: "Roboto";
	font-size: 30px;
	margin-top: 10%;
	font-weight: bolder;

	padding-left: 5%;
	padding-right: 3%;

}

.indiv_proj_sectionsubheading {
	font-family: "Lato";
	font-size: 24px;
	margin-top: 1%;
	padding-left: 5%;

}

.indiv_proj_summary {
	margin-top: -10%;
	margin-bottom: 5%;
	width: 100%;

}

.indiv_proj_text {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 16px;
	margin-top: 2%;

	padding-left: 5%;
	/*padding-right: 3%;*/
	/*text-align: justify;*/
	/*font-weight: lighter;*/
}

.indiv_proj_text_listItem {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 16px;

	margin-left: 5%;
	padding-right: 3%;
	/*text-align: justify;*/
	/*font-weight: lighter;*/
}


.indiv_proj_img {
	width: 90%;
	margin-bottom: 5%;
}

.indiv_proj_img_small {
	width: 35%;
	margin-top: 2%;
}

.indiv_proj_img_caption {
	font-family: "Roboto";
	font-size: 12px;

	margin-top: 1%;

}

.indiv_proj_processHeading {
	padding-top: 3%;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;

}

.indiv_proj_processText {
	font-family: "Lato";
	font-size: 14px;

	font-weight: lighter;
	
}

.proj_headerPhoto {
	width: 100% !important;
}

.about_topquote {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 12px;
	margin-top: 2%;

	padding-left: 5%;
	/*padding-right: 3%;*/
	/*text-align: justify;*/
	/*font-weight: lighter;*/

}

.about_img {

	width: 50%;
	margin-top: 5%;
	margin-left: 15%;
	
}

.about_text_container {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.about_text {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 12px;
	margin-top: 2%;

	padding-left: 5%;
	/*padding-right: 3%;*/
	/*text-align: justify;*/
	/*font-weight: lighter;*/

}

.about_currentList {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 12px;
	margin-top: 2%;

	padding-left: 15%;

	margin-right: 20%;
	/*padding-right: 3%;*/
	/*text-align: justify;*/
	/*font-weight: lighter;*/

}


@media only screen and (min-width: 768px) {

.nav_style {
	padding-top: 0%;

	font-size: 10pt !important;

}

.nav_style_selected {
	padding-top: 0%;

	font-size: 10pt !important;
}

.index_heading {
	font-family: "Roboto" !important;

	font-size: 55px;
	font-weight: bold;

	padding-top: 5%;

	text-align: center;
}

.index_headingB {
	font-family: "Roboto" !important;

	font-size: 20px;
	font-weight: bold;

	margin-top: -1%;

	text-align: center;
}

.index_headingC {
	font-family: "Roboto" !important;

	font-size: 18px;
	font-weight: 300;

	margin-top: -1%;
	margin-bottom: 6%;
}

.index_proj {
	width: 95%;
}

.proj_heading {
	font-family: "Roboto Mono" !important;

	font-size: 14px !important;

	color: black;

	margin-top: 15%;
}

.proj_subheading {
	font-family: "Roboto" !important;

	font-size: 12px !important;
	font-style: italic;

	color: black;

	margin-top: -2%;
	margin-bottom: -2%;
}

.proj_headingB {
	font-family: "Roboto Mono" !important;

	font-size: 14px !important;

	color: black;

	margin-top: 20%;
}

.proj_subheadingB {
	font-family: "Roboto" !important;

	font-size: 12px !important;
	font-style: italic;

	color: black;

	margin-top: -4%;
	margin-bottom: -2%;
}

.homepage_topquote {

font-size: 30px;
/*margin-top: 5%;*/
margin-left: 30%;
margin-right: 0%;


}

.hompage_meimg {
	display:inline;
	vertical-align: middle;
	width: 200%;

	margin-left: -20%;
	margin-right: -350px;
}


.portfolio_heading {
	margin-top: 30%;
}

.index_proj {
	width: 85%;

	margin-top: 5%;

	padding-bottom: 4%;

	transition: .5s ease;
	backface-visibility: hidden;
}

.proj_subheading {

	margin-top: -4%;
}

/*.homepage_projectlink {
	width: 65%;

	transition: .5s ease;
	backface-visibility: hidden;
}*/

.skills_first_item {
	font-family: "Lato";
	font-size: 14px;

	margin-top: 4%;
	margin-bottom: -1%;

}


.about_img {

	width: 50%;
	margin-top: 12%;
	margin-left: 35%;
	
}

.about_text_container {
	margin-top: 12%;
	margin-left: -15%;
	margin-right: 20%;
}

.about_text {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 12px;
	margin-top: 2%;

	padding-left: 5%;
	/*padding-right: 3%;*/
	/*text-align: justify;*/
	/*font-weight: lighter;*/

}

.about_currentList {
	font-family: "Roboto";
	font-weight: 200;
	font-size: 12px;
	margin-top: 2%;

	padding-left: 15%;

	margin-right: 20%;
	/*padding-right: 3%;*/
	/*text-align: justify;*/
	/*font-weight: lighter;*/

}

.bio_textA {

	padding-top: 0%;

}

.bio_currentlyHeader {
	margin-top: 2%;
	font-family: "Lato";
	font-size: 28px;

}

.indiv_proj_heading {

	margin-top: 8%;
}

.indiv_proj_subheading {
	margin-bottom: 0%;
}

.summary_heading {
	padding-top: 50%;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 800;
	text-decoration: underline;

}

.mobile_only {
	display: none;
}

.summary_text {
	font-family: "Roboto";
	font-size: 14px;

	margin-top: -5%;

	font-weight: 100;

}

.indiv_proj_summary {
	margin-top: -7%;
	width: 95%;

}

.indiv_proj_sectionheading {

	padding-left: 0%;
}

.indiv_proj_sectionsubheading {

	padding-left: 0%;

}

.indiv_proj_desc {

	padding-left: 0%;
}

.indiv_proj_img {
	width: 70%;
}

}








