@import url('https://fonts.googleapis.com/css?family=Lato: 300, 400, 700');

body {
	position: relative;
}

.nav_style{

	color: black !important;

	font-family: "Lato" !important;
	font-size: 12pt !important;
}

.nav_class {
	padding-top: 1%;

	background-color: white;
}

.homepage_heading {
	font-family: "Lato" !important;

	font-size: 45px;
	letter-spacing: .1em;

	text-align: center;

	padding-top: 10%;
	padding-bottom: -2%;
}

.homepage_subheading {
	font-family: "Lato" !important;

	font-size: 20px;
	font-weight: 300;

	text-align: center;
}

.homepage_projectlink {
	width: 95%;
}

.proj_caption {
	font-family: "Lato" !important;

	font-size: 18px;
	font-weight: 300;

	text-align: center;

}

.about_text {
	margin-top: 4%;

	font-family: "Lato";

	font-size: 18px;

	text-align: center;

	padding-bottom: 2%;

}

.footer_content {

	margin-top: 20%;

	margin-bottom: 5%;
}

.footer_logo {
	width: 50px;
	height: auto;

	vertical-align: middle;
	margin-right: 5px;
}